header{
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #0b0b0b;
    margin-top: 20px;
    
}

#quote-box {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}


.hero{
    position: relative;
    width: 100%;
    height: 20vh;
    background: #5b97f0;
    margin-top: 20px;
    box-shadow: 20px 20px 30px rgba(23, 23, 23, 0.1);
    text-align: center;
    font-size: 17px;
    
}
h2 {
    color: #1a0335;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #5b97f0;
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(48, 47, 47, 0.1);
    text-align: center;
    
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    background-color:#b7f8f2;
    color: #0b0b0b;
    font-size: 17px;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: #5b97f0;
    border-radius: 15px;
    color: #1e043e;
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
    color:  #7300ff;
}



#text-editor {
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    border: 2px solid #3b3a3a;
    background-color: white;
    text-align: center;
}

#text-area {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

#button-container {
    display: flex;
    justify-content: space-around;
    
}

button {
    padding: 1px;
    cursor: pointer;
    margin: 1px;
    color: #030104;;
    background-color: #eef8c8;
    border: 1px solid #0d0d0d;
    font-size: 17px;
}

#color-buttons {
    margin-top: 50px;
}



#weight-converter {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #090909;
    background-color: white;
    text-align: center;
}

input, select, button {
    margin: 10px;
    padding: 8px;
}













